html {
    font-family: sans-serif;
    background: #000000;
    padding: 1rem;
}

body {
    margin: 0 auto;
    background: #1f1f1f;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: Cinzel, serif;
    color: #940f0f;
    margin: 1rem 0;
    justify-content: center;
    display: flex;
}

hr {
    border: none;
    border-top: 1px solid lightgray;
}

form {
    background: rgb(85, 85, 85);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    color: rgb(224, 224, 224);
    font-family: sans-serif;
}

form input {
    background-color: #1f1f1f;
    padding: 0.5em;
    color: rgb(224, 224, 224);
    font-family: Cinzel, serif;
    font-size: 1em;
}

div.container {
    display: flex;
    flex-flow: column;
}

div.fc {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

div.fc p {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 10px;
}

div.fr {
    display: flex;
    flex-flow: row wrap;
}

div.section {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 1em;
    padding: 1em;
    background: rgb(54, 54, 54);
}

form ul {
    list-style: none;
    margin: 0px;
    padding: 5px 0;
}

form ul li {
    padding: 4px 0;
}

input[type=submit] {
    align-self: start;
    min-width: 10em;
}

table {
    display: flex;
    justify-content: center;
    background: rgb(85, 85, 85);
    padding: 0.5em;
}

td,
tr {
    padding: 0.5em;
}

label {
    padding: 4px;
    margin: 2px;
}