{% extends "index.html" %}

{% block form %}
<form action="/" method=post>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="container">
        <div class="fc">
            <p>
                {{ form.roll.label }}
                {{ form.roll(size=1) }}
            </p>
            <p>
                {{ form.target.label }}
                {{ form.target(size=1) }}
            </p>
            <p>
                {{ form.misc.label }}
                {{ form.misc(size=1) }}
            </p>
        </div>
        <div class="fc">
            <div class="section">
                {{ form.attack_type.label }}
                {{ form.attack_type() }}
            </div>
            <div class="section">
                {{ form.modifiers.label }}
                {{ form.modifiers() }}
            </div>
            <div class="section">
                <label for="conditionals">Conditional Modifiers</label>
                <div id="conditionals">
                    <div class="section">
                        {{ form.set_range.label }}
                        {{ form.set_range() }}
                    </div>
                    <p>
                        {{ form.pinned() }}
                        {{ form.pinned.label }}
                    </p>
                    <p>
                        {{ form.target_stunned() }}
                        {{ form.target_stunned.label }}
                    </p>
                    <p>
                        {{ form.untrained() }}
                        {{ form.untrained.label }}
                    </p>
                </div>
            </div>
        </div>
        <div class="fc">    
            <p>
                <input type="Submit" value="Calculate">
            </p>
        </div>
    </div>
</form>
{% endblock %}